<h1>Send Mail Net Core</h1>
<form method="post">
    <label>To:</label>
    <input type="text" name="to" />
    <label>Asunto:</label>
    <input type="text" name="asunto" />
    <label>Mensaje:</label>
    <textarea name="mensaje"></textarea>
    <button>Sen mail</button>
</form>
